*{

    margin: 0px;
    padding: 0px;
    
}

.hero{
    display: flex;
    padding: 15px 25px 15px 25px

}
#navbar{
    display: flex;
    height: 29px;
    width: 30px;
    margin: 10px 10px 10px 11px;
    

}
#actions{

    margin: 10px 10px 10px 10px;
}