*{

    margin: 0px;
    padding: 0px;
    
}

.hero{
    display: flex;
    padding: 15px

}
#navbar{

    padding: 12px;

}
#actions{

    padding: 12px;
    margin-left: 1350px;
    position: absolute;
}